body{
    background-color: darkkhaki;
    color: black;
    opacity: 1;
    /*font-family: menlo;*/
    font-family: "Crimson Text", "Times New Roman", serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.25ch;
}
.title{
    text-align: center;
    text-transform: uppercase;
    width: auto;
    height: 32px;
    background-color: #000080;
    color: #F2F2F2;
    position: relative;
    float: center;
    border: 5px solid black;
    border-radius: 5px;
    padding-top: 2px;
}
h2{
    background-color: forestgreen;
    border: 5px solid black;
    color:black;
    border-radius: 5px;
    padding-left: 5px;
}
nav{
    text-align: center;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0px;
    box-sizing: border-box;
}
nav ul li:hover{
    background-color: white;
}
nav ul li{
    background-color: #C7BE9B;
    margin-bottom: 10px;
    border: 2px solid black;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding-left: 0px;
}
nav ul{
    list-style: none;
}
#section{
    position: absolute;
    top: 0;
    left: 160px;
    padding-right: 10px;
}
.foto{
    width: 250px;
    display: inline-block;
}
.figuras{
    margin-left: auto;
    margin-right: auto;
}
.icones-redes-sociais a {
    position: relative;
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    background: black;
    color: white;
    top: 100%;
    width: 300%;
    right: 0;
    text-indent: 0;
    font-size: .75em;
}

.icones-redes-sociais a:hover::before,
.icones-redes-sociais a:focus::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1em;
    height: 1em;
    background-color: black;
    transform: translateY(.5em) rotate(45deg);
}
.github {
    background-image: url(../images/github.png);
}
.linkedin {
    background-image: url(../images/linkedin.png);
}
.facebook{
    background-image: url(../images/facebook.png);
}
.icones-redes-sociais li {
    display: inline-block;
}
.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}
p{
    padding-left: 10px;
}
.link{
    font: bold 13px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}